@model IEnumerable<Dashboard.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<div>
    <a class="back" href="javascript: history.go(-1)"><img src="https://cdn-icons-png.flaticon.com/512/130/130882.png"
            height="4%" width="4%" /></a>
    <h1 class="text-center">Проекты</h1>
    <h5 class="text-center">
         Проектов:@Model.Count()
    </h5>

    <style>
        #ID {
            border: none;
            align-self: center;
            @* background-color: #72b9f3; *@
            outline: none;
            text-align: center;
        }
    </style>
</div>

<form name="forma" asp-controller="Milestones" asp-action="Index" method="get">
    <input type="hidden" name="Id" id="Idinput">
</form>
<script>
    function func(ID) {
        let a = document.querySelector("#Idinput");
        a.value = ID;
        let form = document.forms.forma;
        form.submit();
    };
</script>



@{
    <div class="container-fluid" style="margin-top:10px">

        @* <div class="otodvigalka">

            <div class="infos">

                <input type="checkbox" name="по исполнителям" value="по исполнителям" class="chbox1">по исполнителям
                <input type="checkbox" value="по дате" class="chbox2">по дате
                <br />

                <select class="sel1">исполнитель</select>
                <br />

                <select class="sel21" onselect="дата начала">дата начала</select>
                <select class="sel22" onselect="дата окончания">дата окончания</select>
                <br />

                <div class="info1">

                </div>

                <div class="info2">

                </div>


            </div>

        </div> *@

        <div @*class="row display-flex"*@ style="cursor: pointer;" &gt;&lt;/div&gt;>
            <div class="gridCss">
                @foreach (var pur in Model)
                {
                    @* <table>
                        <tr> *@
                    <div class="projctsMain" style="background: #CDDBBF linear-gradient(to top, #b3c4a3 @pur.Completion%, transparent 0%);">
                        <span class="nameOf1" @*style="color:#337ab7"*@>@pur.Name<br />
                            <input type="button" onclick="func(@pur.Id)">
                            <div class="comPri">
                                <span class="completion" @*style="color:indianred"*@>@*Completion : *@ @pur.Completion%</span>
                                <span class="priority" @*style="color:indianred"*@>@*Priority : *@ @pur.Priority</span><br />
                            </div>
                            @* <span style="color:indianred">Id : </span>@pur.Id<br />
                                <input type="hidden" id="Idpr" value="@pur.Id"> *@

                    </div>
                    @* </tr>
                        </table> *@
                }
            </div>
        </div>
    </div>
}