@model IEnumerable<Dashboard.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<div>
<h1 class="text-center">Проекты</h1>
 <h5 class="text-center" >
     <input id="ID" readonly>
 </h5>

 <style>
     #ID{
         border: none;
         align-self: center;
           background-color:#72b9f3;
         outline:none;
          text-align: center;
     }
 </style>
 </div>
 
<script>
    addEventListener('DOMContentLoaded', function() {
    var tr = document.querySelectorAll('tr');
    let input = document.querySelector("#ID");
    input.value=" "+tr.length+ " Проектов";
    });
</script>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form name="forma" asp-controller="Milestones" asp-action="Index" method="get"> 
    <input type="hidden" name="Id" id="Idinput">
</form>
<script >
    function func(ID){
        let a = document.querySelector("#Idinput");
        a.value=ID;
        let form = document.forms.forma;
        form.submit();
    };
</script>

@{
<div class="container-fluid" style="margin-top:10px" >
   <div class="row display-flex"   style="cursor: pointer;"&gt;&lt;/div&gt;>
        @foreach (var pur in Model)
        {
             <table>
            <tr>
            <div class="projctsMain">                       
                         <span style="color:#337ab7">@pur.Name<br />
                         <span style="color:indianred">Completion : </span>@pur.Completion<br/>
                         <span style="color:indianred">Priority : </span>@pur.Priority<br/>
                         <span style="color:indianred">Id : </span>@pur.Id<br/>
                          <input type="hidden" id="Idpr" value="@pur.Id"> 
                         <input type="button" value="B" onclick="func(@pur.Id)">
            </div>
            </tr>
            </table>
        }
        </div>
</div>
}