@model IEnumerable<Dashboard.Models.Milestone>

@{
    ViewData["Title"] = "Index";
}

<div>
<h1 class="text-center">Вехи</h1>
 <h5 class="text-center" >
     <input id="ID" readonly>
 </h5>
 <style>
     #ID{
         border: none;
         align-self: center;
     }
 </style>
 </div>
 
<script>
    addEventListener('DOMContentLoaded', function() {
    var tr = document.querySelectorAll('tr');
    let input = document.querySelector("#ID");
    input.value=" "+tr.length-1+ " Вех";
    });
</script>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBegining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.Encode(string.Format("{0:dd/MM/yyyy}",item.DateOfBegining))
            </td>
            <td>
                @Html.Encode(string.Format("{0:dd/MM/yyyy}",item.DateOfFinish))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
