@model IEnumerable<Dashboard.Models.Direction>

<link rel="stylesheet"  href="Ds.css">

@{
    ViewData["Title"] = "Index";
}

<div>
<a class="back" href="javascript: history.go(-1)"><img src="https://cdn-icons-png.flaticon.com/512/130/130882.png" height="4%" width="4%"/></a>
<h1 class="text-center">Направления</h1>
 <h5 class="text-center" >
   Направлений:@Model.Count()
 </h5>
 <style>
     #ID{
         border: none;
         align-self: center;
         outline:none;
        text-align: center;
     }
 </style>

</div>


<form name="forma" asp-controller="Projects" asp-action="Index" method="get"> 
    <input type="hidden" name="Id" id="Idinput">
</form>

<script >
    function func(ID){
        let a = document.querySelector("#Idinput");
        a.value=ID;
        let form = document.forms.forma;
        form.submit();
    };
</script>

<form name="count" asp-controller="Directions" asp-action="Count" method="get"> 
    <input type="hidden" name="Id" id="Idinput">
</form>
<script >
    function func(ID){
        let a = document.querySelector("#Idinput");
        a.value=ID;
        let form = document.forms.forma;
        form.submit();
    };
</script>


@{
<div class="container-fluid" style="margin-top:10px" >
        <div style="cursor: pointer;"&gt;&lt;/div&gt;>
        <div class="gridForDirCss">
            @foreach (var pur in Model)
            {
                         <div class="directnsMain" style="background: #bee1e2 linear-gradient(to top, #acc6cc @pur.Completion%, transparent 0%);">
                            <span class="nameOf1">@pur.Name<br />
                            <input type="button" onclick="func(@pur.Id)">
                            <div class="comPri">
                                <span class="completion"> @pur.Completion%</span><br/>
                                <span class="priority" @*style="color:indianred"*@>@*Priority : *@ @pur.Priority</span><br/>
                            </div>
                            @* <span id="Id" style="color:indianred">id : </span>@pur.Id<br/> *@
                            @* <input type="hidden" id="Idpr" value="@pur.Id"> *@
                            
                        </div>
                    @* </tr>
                </table> *@

            }
                    <a asp-action="Create" class="directnsMain">+</a>
        </div>
    </div>
</div>
}


<script>
    var wave =document.querySelector('.wave');
    var bottom=-170;

    window.addEventListener('load',function(){
        move();
    });

    function move(){
        var id =setInterval(frame,2000);
    }

    function frame(){
        if(bottom>=-120){
            wave.style.bottom=bottom+"%";
            bottom=bottom-25%;
        }else{
             wave.style.bottom=bottom+"%";
            bottom=bottom--15%;
        }
    }
</script>

 
<p>
            <a asp-action="Create">Create New</a>
</p>